<ion-header class="topHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        (click)="closeModal()"
        name="arrow-back-circle-outline"
      ></ion-icon>
    </ion-buttons>

    <div class="centered-content-wrapper">
      <ion-title *ngIf="sourcePage == 'adminNew'">Usuario Nuevo</ion-title>
      <ion-title *ngIf="sourcePage == 'adminNewExtrange'"
        >New extrange</ion-title
      >
      <ion-title *ngIf="sourcePage == 'commentApp'"
        >Comentar de la aplicacion</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    *ngIf="sourcePage == 'admin' || sourcePage == 'tab1NewNeighbor'"
    class="titleCore"
  >
    <div class="divlblCoreName">
      <label style="width: 100%">{{coreName}}</label>
    </div>
    <div class="divToggleDemo" *ngIf="MyRole == 'admin'">
      <ion-item class="wrap-input itemToggleDemo">
        <ion-toggle
          id="twilioToggle"
          class="ToggleDemo"
          labelPlacement="start"
          formControlName="demoMode"
          [checked]="false"
          (ionChange)="DemoMode()"
        >
          Demo mode
        </ion-toggle>
      </ion-item>
    </div>
  </div>

  <form [formGroup]="RegisterForm">
    <div *ngIf="sourcePage != 'commentApp'">
      <ion-item *ngIf="sourcePage == 'login'">
        <ion-select
          id="cmbCpu"
          justify="space-between"
          interface="action-sheet"
          label="Tu colonia: "
          placeholder="Colonias"
          cancel-text="Cancelar"
          formControlName="localCpu"
          ok-text="Seleccionar"
          (ionChange)="onChangeCpu()"
          formControlName="Cpu"
        >
          <ion-select-option
            *ngFor="let item of CpuList"
            [value]="{id:item._id,name:item.name,location:item.location}"
            >{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="sourcePage == 'login'">
        <ion-select
          justify="space-between"
          interface="action-sheet"
          label="Tu privada: "
          placeholder="Privadas"
          cancel-text="Cancelar"
          formControlName="localCore"
          ok-text="Seleccionar"
          (ionChange)="onChangeCore()"
          formControlName="Core"
        >
          <ion-select-option
            *ngFor="let item of CoreList"
            [value]="{id:item._id, name:item.name, shortName:item.shortName}"
            >{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="wrap-input">
        <ion-input
          class="input"
          type="text"
          name="name"
          required
          placeholder="Nombre"
          formControlName="Name"
          value="{{name}}"
          label="Nombre:"
        ></ion-input>
      </ion-item>

      <ion-item class="wrap-input" *ngIf="sourcePage != 'adminNewExtrange' ">
        <ion-input
          class="input"
          type="text"
          name="username"
          label="Usuario: "
          required
          placeholder="Usuario"
          formControlName="UserName"
          value="{{username}}"
          formControlName="username"
        ></ion-input>
      </ion-item>

      <ion-item class="wrap-input" *ngIf="sourcePage != 'adminNewExtrange' ">
        <ion-input
          class="input"
          type="text"
          name="email"
          label="email: "
          required
          placeholder="Correo"
          formControlName="Email"
          value="{{email}}"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item class="wrap-input">
        <ion-input
          class="input"
          type="text"
          name="sim"
          label="Cell: "
          required
          placeholder="# celular"
          formControlName="Sim"
          value="{{sim}}"
        ></ion-input>
      </ion-item>

      <ion-item class="wrap-input" *ngIf="sourcePage != 'adminNewExtrange'">
        <ion-input
          class="input"
          type="text"
          name="house"
          label="Casa: "
          required
          placeholder="# de casa"
          formControlName="House"
          value="{{house}}"
          formControlName="house"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="sourcePage == 'admin'" class="wrap-input">
        <ion-input
          *ngIf="sourcePage == 'admin' "
          class="input"
          type="text"
          name="location"
          placeholder="Location"
          [readonly]="locationReadonly"
          formControlName="Location"
          value="{{location}}"
          formControlName="location"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="sourcePage == 'adminNew'" class="wrap-input">
        <ion-input
          *ngIf="sourcePage == 'adminNew'"
          class="input"
          type="text"
          name="uuid"
          placeholder="uuid"
          [readonly]="uuidReadonly"
          formControlName="Uuid"
          value="{{uuid}}"
          formControlName="uuid"
        ></ion-input>
      </ion-item>

      <ion-item class="wrap-input" *ngIf="sourcePage != 'adminNewExtrange'">
        <ion-select
          value="gender"
          formControlName="gender"
          label="Genero:"
          formControlName="Gender"
          okText="Aceptar"
          cancelText="Cancelar"
        >
          <ion-select-option value="M">Hombre</ion-select-option>
          <ion-select-option value="F">Mujer</ion-select-option>
          <ion-select-option value="O">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="sourcePage != 'login' && sourcePage != 'adminNewExtrange' "
      >
        <ion-select
          *ngIf="sourcePage != 'login' "
          [ngModel]="localRole"
          ok-text="Seleccionar"
          label="Roles:"
          cancel-text="Cancelar"
          formControlName="Roles"
          [multiple]="true"
        >
          <ion-select-option
            *ngFor="let item of RoleList"
            [value]="{id:item._id,name:item.name}"
            >{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item
      *ngIf="sourcePage == 'login' || sourcePage == 'commentApp' "
      class="wrap-input"
    >
      <ion-textarea
        #mycomment
        class="input"
        placeholder="Comentario"
        (ionChange)="onChangeComment(mycomment.value)"
        value="{{comment}}"
        aria-multiline="true"
      >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="sourcePage == 'login'" [disabled]="RegisterForm.invalid">
      <div class="item-wripper">
        <input
          class="button-17 submit"
          type="button"
          (click)="onSubmitItSelf(localCpu,localCore,name,
            username,email,sim,house,gender)"
          value="Grabar"
        />
      </div>
    </ion-item>

    <ion-item
      *ngIf="sourcePage == 'login' || sourcePage == 'adminNewExtrange'"
      class="wrap-input"
      [disabled]="RegisterForm.invalid"
    >
      <div class="item-wripper">
        <input
          class="button-17 submit"
          type="button"
          (click)="onSubmit()"
          value="Grabar"
        />
      </div>
    </ion-item>

    <ion-item
      *ngIf="sourcePage == 'adminNewExtrange'"
      class="wrap-input"
      [disabled]="RegisterForm.invalid"
    >
      <div class="item-wripper">
        <input
          class="button-17 submit"
          type="button"
          (click)="newExtrange()"
          value="Mandar extrange"
        />
      </div>
    </ion-item>

    <ion-item *ngIf="sourcePage == 'commentApp'" class="wrap-input">
      <div class="item-wripper">
        <input
          class="button-17 submit"
          type="button"
          [disabled]="localComment == ''"
          (click)="newComment()"
          value="Mandar cometario"
        />
      </div>
    </ion-item>
  </form>
</ion-content>
