<ion-header class="topHeader">
  <ion-toolbar>
    <div class="column left">
      <ion-buttons slot="start">
        <ion-icon
          class="icon_exit"
          (click)="moveToLogin()"
          name="arrow-back-circle-outline"
          >Cerrar</ion-icon
        >
      </ion-buttons>
    </div>
    <div class="column middle">
      <ion-title>Tienda</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tienda</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
