<ion-header class="ion-padding-top ion-safe-area-top" [translucent]="true">
  <ion-toolbar>
    <div class="column left">
      <ion-buttons slot="start">
        <ion-icon
          class="icon_exit"
          (click)="closeModal()"
          name="arrow-back-circle-outline"
          >Cerrar</ion-icon
        >
      </ion-buttons>
    </div>

    <div class="column middle">
      <ion-title>Visitantes</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list" detail="false" lines="full" no-padding [inset]="true">
    <ion-item
      class="visitor-items"
      *ngFor="let item of myVisitors; let i = index;"
    >
      <ion-label class="mainTitle" (click)="toggleSection(item)"
        >{{item.name}}</ion-label
      >
      <ion-icon
        class="delete-item"
        slot="end"
        name="trash-outline"
        (click)="removeVisitor(i,item.name)"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button class="button-green" (click)="addVisitor()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
