<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!--<img [src]="'http://192.168.1.170:8787/api/r2/view/' + encodeURIComponent() />-->
  <ion-button (click)="onCreateInformation()" expand="block">
    <ion-icon name="add" slot="start"></ion-icon>
    Agregar Información
  </ion-button>

  <ion-list>
    @for (item of informations(); track item.id || $index) {
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="getImageUrl(item.key)" />
        <!--<img [src]="'http://192.168.1.170:8787/api/r2/view/' + item.key" />-->
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        @if (item.url) {
        <a [href]="item.url" target="_blank">{{ item.url }}</a>
        }
        <small>like: {{ item.like }}</small>
      </ion-label>
      <ion-button (click)="onDelete(item.id)" color="danger" slot="end">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    } @empty {
    <ion-item>
      <ion-label class="ion-text-center">
        No hay información disponible
      </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
