.wripper-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 14px 5px 5px 5px;
  width: 100%;
}

.wrapper-dates {
  background-color: #6599ce;
  display: flex;
  width: 100%;
}

.partFlex {
  flex: 1;
  padding: 6px;
  border: 1px solid white;
  .ion-label {
    text-align: center;
  }
}

.partFlex:not(:last-child) {
  border-right: 1px solid #dcdcdc; /* Separador entre las partes */
}

.partFlex:hover {
  background-color: #f8f8f8; /* Color de fondo más oscuro al pasar el ratón */
  cursor: pointer;
  color: black;
}

.tituloFiltro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemFilter {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
  justify-content: center;
  align-items: center;
  width: 100%;

  ion-note {
    font: 1.2em;
    color: white;
  }

  ion-icon {
    font-size: 2.7em;
    padding: 5px 2px 2px 10px;
  }

  :hover {
    cursor: pointer;
    color: black;
  }
}

.dateFilter {
  font-size: 1.2rem;
  font-weight: bold;
}

.itemFilterSearch {
  display: flex;
  align-items: center;
  font-size: 2.8em;
  justify-content: center;
  padding-top: 5px;
}

.wrapper-list {
  padding-top: calc(52px + env(safe-area-inset-top));
}

.accordion-list {
  /* --ion-item-background: #fff; */
  min-height: 62px;
  margin-top: 2px;

  .section,
  .section-active,
  .section-expired {
    border-radius: 5px;
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }

  ion-icon {
    color: #000;
  }
}

.section {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  --ion-item-background: #a7aaa8;
  --ion-item-color: #fff;
}

.section-expired {
  /* margin-top: -6px;
  padding-top: -6px; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  --ion-item-background: lightgray;
  --ion-item-color: gray;
}

.section-active {
  /* --ion-item-background: #999e9d;
  --ion-item-color: #fff; */
  font-weight: 600;

  ion-icon {
    color: #fff;
  }
}

.detail-list {
  /* padding: 0px;
  margin: 0px; */
  .detail,
  .detail-active {
    margin-bottom: 2px;
  }
}

.detail {
  margin-top: 5px;
  padding-left: 12px;
  max-width: 97% !important;
  --ion-item-background: #efeeee;
  --ion-item-color: #000;
  /* padding-top: 8px; */
}

.detail-active {
  /* --ion-item-background: #fad86b;
  --ion-item-color: #fff; */
  ion-icon {
    color: #fff;
  }
}

.product-list {
  padding: 0px;
  margin: 0px;
}

.detail-item {
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 1px;
}

ion-modal {
  &.bottom-end {
    align-items: flex-end;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
  }
}
