<ion-header class="topHeader">
  <ion-toolbar slot="start">
    <ion-title class="ion-text-center">Registro de entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer-top"></div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="compact-container">
    <div
      *ngFor="let item of EventsList; let i = index"
      class="compact-row"
      [class.is-expired]="false"
      [class.is-expanded]="item.open"
    >
      <div class="row-header" (click)="toggleSection(i)" tappable>
        <div
          class="status-indicator"
          [style.background]="item.expired ? '#9e9e9e' : '#4caf50'"
        ></div>
        <ion-label class="time-label">
          <strong>{{item.code}}</strong> - {{item.doorName}}
        </ion-label>

        <ion-icon [name]="item.open ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </div>

      <form tappable *ngIf="item.open" class="detail">
        <ion-item class="detail-events-item">
          <ion-label>
            Ocurrio:
            <b>{{item.createdAt | date:'dd MMM yyyy hh:mm a'}}</b></ion-label
          >
        </ion-item>
        <ion-item class="detail-item">
          <ion-label> Casa: <b>{{item.house}}</b></ion-label>
        </ion-item>
        <ion-item *ngIf="myEventsList?.length > 0">
          <ion-label class="labelInput" floating>Users:</ion-label>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
