<ion-header>
  <ion-toolbar>
    <!-- 1. Logo de la app con versión -->
    <ion-buttons slot="start" class="logo-container">
      <div class="logo-wrapper">
        <ion-img
          src="../../assets/logo_transparent.png"
          alt="Logo"
          class="logo"
        >
        </ion-img>
        <ion-label class="version-label">v{{ version }}</ion-label>
      </div>
    </ion-buttons>

    <!-- 2. Título (máx. 40 caracteres) -->
    <ion-title class="ion-text-center">
      <span class="title-text"
        >{{ coreName | slice:0:40 }}{{ coreName.length > 40 ? '...' : ''
        }}</span
      >
    </ion-title>

    <!-- 3. Botón para ocultar/mostrar el div -->
    <ion-buttons slot="end">
      <ion-button
        (click)="toggleButtons()"
        [color]="btnVisible ? 'primary' : 'medium'"
      >
        <ion-icon
          slot="icon-only"
          [name]="btnVisible ? 'eye-off' : 'eye'"
        ></ion-icon>
      </ion-button>

      <!-- 4. Icono para menú desplegable -->
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Popover Menu---------------------------- -->
  <ion-popover trigger="popover-button" [dismissOnSelect]="true" mode="ios">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item-group *ngIf="MyRole == 'admin'">
            <ion-item [button]="true" [detail]="false" (click)="openFamily()"
              >Familia</ion-item
            >

            <ion-item [button]="true" [detail]="false" (click)="openInfo()"
              >Information</ion-item
            >

            <ion-item
              [button]="true"
              [detail]="false"
              (click)="recoverAccount()"
              >Recupera cuenta</ion-item
            >
            <ion-item [button]="true" [detail]="false" (click)="deviceLost()"
              >Celular perdido</ion-item
            >
            <ion-item
              [button]="true"
              [detail]="false"
              (click)="localNotification()"
              >Local notification</ion-item
            >
            <ion-item
              [button]="true"
              [detail]="false"
              (click)="fcmNotification()"
              >FCM notification</ion-item
            >
            <ion-item class="wrap-input">
              <ion-toggle
                id="twilioToggle"
                class="ion-toggle-red"
                labelPlacement="start"
                [(ngModel)]="demoMode"
                (ionChange)="DemoMode()"
                >Demo mode
              </ion-toggle>
            </ion-item>
          </ion-item-group>
          <ion-item-group
            *ngIf="MyRole == 'neighborAdmin' || MyRole == 'admin'"
          >
            <ion-item
              id="logout1-alert"
              [button]="true"
              [detail]="false"
              (click)="modalBackstage()"
              >Agregar usuario
              <ion-icon
                slot="end"
                name="person-add-outline"
                (click)="modalBackstage()"
              >
              </ion-icon>
            </ion-item>
            <ion-item
              id="logout1-alert"
              [button]="true"
              [detail]="false"
              (click)="ModalUsers()"
              >Cambios a usuario
              <ion-icon
                slot="end"
                name="person-circle-outline"
                (click)="ModalUsers()"
              >
              </ion-icon>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item
              id="logout1-alert"
              [button]="true"
              [detail]="false"
              *ngIf="remoteCtrl"
              (click)="toggleButtons()"
              >{{titleMenuButtons}}
              <ion-icon
                slot="end"
                name="toggle-outline"
                (click)="toggleButtons()"
              >
              </ion-icon>
            </ion-item>
            <ion-item
              id="logout1-alert"
              *ngIf="MyRole == 'admin'"
              [button]="true"
              [detail]="false"
              (click)="logout()"
            >
              <div class="logged">Cerrar sesion: {{myEmail}}</div>
            </ion-item>

            <ion-item
              id="logout1-alert"
              *ngIf="MyRole != 'admin'"
              [button]="true"
              [detail]="false"
              (click)="comentar()"
            >
              <div class="logged">Comenta sobre la aplicacion</div>
            </ion-item>

            <ion-item
              id="logout1-alert"
              *ngIf="MyRole != 'admin'"
              [button]="true"
              [detail]="false"
              (click)="logout()"
            >
              <div class="logged">Cerrar sesion: {{myName}}</div>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <!-- --------------------------------------------  -->

  <!-- Bi-color -->
  <div class="aperturas" *ngIf="btnVisible && remoteCtrl">
    <ion-button
      class="doorsButton-green"
      (click)="sendSMS('peatonal')"
      mode="ios"
      >Peatonal</ion-button
    >
    <ion-button
      class="doorsButton-blue"
      (click)="sendSMS('vehicular')"
      mode="ios"
      >Vehicular</ion-button
    >
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div id="infoSection" class="info">
    <ion-card *ngFor="let item of localInfo; index as i">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle class="custom-subtitle">
          <!-- Icono y título -->
          <div class="subtitle-header">
            <span>{{item.title}}</span>
            <ion-icon name="time-outline"></ion-icon>
            {{getTimeAgo(item.createdAt)}}
          </div>
          <!-- Texto con expansión -->
          <div class="expandable-text" [class.expanded]="expandedStates[i]">
            <p
              [class.collapsed]="!expandedStates[i] && isTextLong(item.description)"
            >
              {{item.description}}
            </p>
            <button
              *ngIf="isTextLong(item.description)"
              class="read-more-btn"
              (click)="toggleText(i)"
            >
              {{ expandedStates[i] ? '.. menos' : '... mas' }}
            </button>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="" (click)="openUrl(item.url)">
        <!--<img src="{{item.path}}{{getEncodedUrl(item.image)}}" />-->
        <img
          [src]="item.localPath ? convertFileUri(item.localPath) : item.path + item.image"
        />
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab
    slot="fixed"
    [hidden]="MyRole != 'admin'"
    vertical="center"
    horizontal="end"
  >
    <ion-fab-button class="button-green">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="button-green" (click)="newVisitor()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="button-green" (click)="ModalUsers()">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
